<div class="info-car-desc" id="papers">
    <h6 class="df-align-center">Yêu cầu<span class="tooltip tooltip--m  icon--m"><span class="wrap-svg"><svg
                    width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                        stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path
                        d="M9.08984 9.00008C9.32495 8.33175 9.789 7.76819 10.3998 7.40921C11.0106 7.05024 11.7287 6.91902 12.427 7.03879C13.1253 7.15857 13.7587 7.52161 14.2149 8.06361C14.6712 8.60561 14.9209 9.2916 14.9198 10.0001C14.9198 12.0001 11.9198 13.0001 11.9198 13.0001"
                        stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12 17H12.01" stroke="black" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg></span><span class="tooltip-text"><b>Bạn đã có CCCD gắn chip </b><br>Giấy tờ thuê xe gồm có: <br>-
                Giấy phép lái xe &amp; CCCD (chủ xe đối chiếu và gửi lại bạn) <br><b>Bạn chưa có CCCD gắn chip
                </b><br>Giấy tờ thuê xe gồm có: <br>- Giấy phép lái xe (chủ xe đối chiếu và gửi lại bạn) <br>- Passport
                (chủ xe đối chiếu, giữ lại và hoàn trả khi bạn trả xe) <br>Lưu ý: Khách thuê vui lòng chuẩn bị đầy đủ
                BẢN GỐC tất cả giấy tờ thuê xe khi làm thủ tục nhận xe.</span></span></h6>
    <div class="required-papers">
        <div class="required-papers__item">
            <div class="type__item">
                <div class="wrap-svg"><svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.49967 1.33325C4.82634 1.33325 1.83301 4.32659 1.83301 7.99992C1.83301 11.6733 4.82634 14.6666 8.49967 14.6666C12.173 14.6666 15.1663 11.6733 15.1663 7.99992C15.1663 4.32659 12.173 1.33325 8.49967 1.33325ZM8.49967 6.05325C8.22634 6.05325 7.99967 5.83325 7.99967 5.55325C7.99967 5.27992 8.22634 5.05325 8.49967 5.05325C8.77967 5.05325 8.99967 5.27992 8.99967 5.55325C8.99967 5.83325 8.77967 6.05325 8.49967 6.05325ZM8.99967 10.3866C8.99967 10.6666 8.77301 10.8866 8.49967 10.8866C8.22634 10.8866 7.99967 10.6666 7.99967 10.3866V7.27992C7.99967 6.99992 8.22634 6.77992 8.49967 6.77992C8.77301 6.77992 8.99967 6.99992 8.99967 7.27992V10.3866Z"
                            fill="#666666"></path>
                    </svg></div>
                <p class="font-12">Chọn 1 trong 2 hình thức</p>
            </div>
            <div class="type-content"><img loading="lazy"
                    src="https://n1-cstg.mioto.vn/v4/p/m/icons/papers/gplx_cccd.png">
                <div class="type-name">
                    <p>GPLX &amp; CCCD gắn chip (đối chiếu)</p>
                </div>
            </div>
            <div class="type-content"><img loading="lazy"
                    src="https://n1-cstg.mioto.vn/v4/p/m/icons/papers/gplx_passport.png">
                <div class="type-name">
                    <p>GPLX (đối chiếu) &amp; Passport (giữ lại)</p>
                </div>
            </div>
        </div>
    </div>
</div>